/*----v1.0 blue:#006fb5  gray:#666 personal gray:#888; */

body{				/* -------------------------------------------Body*/
	background: #6498B2;
	margin:.5em;
	font-family: 'lucida grande', Helvetica, Arial, sans-serif;
}

#main{				/* -------------------------------------------Main*/
	margin:0 auto;
	width: 70%;
	background: white;
	padding:.5em 1em 0 1em;
	box-shadow: 3px 3px 5px #444;
}

header#mainHeader{	/* -------------------------------------------MainHeader*/
	width:100%;
	display: inline-block;
}

#mainHeader h1{
	font-size: 2.5em;
	margin: 0;
	color:#444;
}

#mainHeader h2{
	color:#47B4E0;
	font-size: 2em;
	margin: 0;
	display:inline;
}

#mainHeader h3{
	font-family:'Oxygen Mono', sans-serif;       
  	font-weight: normal;
  	font-style: italic;
  	color: #666;
}

#idCard{			/* -------------------------------------------idCard*/
	float:left;
	width:60%;
}

#idPic{
	height:8.75em;
	float:left;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 1.5em;
    margin-bottom: 2em;
}
#social{
	float:right;
}

#social ul#icons{			/* -------------------------------------------Social Bar*/			
	float: right; 			/* -------------------------------------------Social Icons*/
	display:inline;
	padding: 0;
	margin-bottom: 0;
}

#social ul#icons li{
	display:inline;
}
#social ul#icons li img{
 	background-position: center top;
 	height:1.75em;
 	width:1.75em;
 	border:none;
}
#social ul#icons li img:hover{
 	background-position: center bottom;
}
img.facebook{
	background-image: url(img/facebook.png);
}
img.twitter{
	background-image: url(img/twitter.png);
}
img.googleplus{
	background-image: url(img/googleplus.png);
}
img.github{
	background-image: url(img/github.png);
}
img.linkedin{
	background-image: url(img/linkedin.png);
}
img.tumblr{
	background-image: url(img/tumblr.png);
}
img.skype{
	background-image: url(img/skype.png);
}		

#social ul#code{			/* -------------------------------------------Social Code List*/
	clear:right;
	float:right;
	list-style-type: none;
	margin-right: 7em;
	padding: 0;
}

#social ul#code a{ 
	text-decoration: none;
	color: #7D7682;
	font-family:'Oxygen Mono', sans-serif;   
	font-weight: normal;
  	font-style: italic;
  	padding: 0 .3em 0 .3em;
}

#social ul#code a:hover{
	color: white;
	background:#6498B2;
}

#share{				/* -------------------------------------------Section share*/
	clear:both;
	list-style-type: none;

	margin:0;
}
#share{

}
#share li{
	float:right;
	padding-right: 1em;
}

section#left{				/* -------------------------------------------Section Left*/
	width:49%;
	float:left;
	margin-bottom: 2em;
}
section#right{				/* -------------------------------------------Section Right*/
	width:49%;
	float:right;
	margin-bottom: 2em;
}

footer#mainFooter{			/* -------------------------------------------Main Footer*/
	clear:both;
	height:100px;
	background: #444;
	margin: 0 -1em;
}

section h3{
	color:white;
	font-size: 1.7em;
	width:100%;
	padding:.1em 0 .1em .1em;
	background:#444;
	font-family:'Oxygen Mono', sans-serif; 
}

section#right ul.topic{					/* -------------------------------------------Section Lists (Hobbies & Interests)*/
	list-style-type: none;
    margin: 0;
}

section#right ul.topic li {
    float: left;
    margin: 0 .4em .4em 0;
    font-size: 90%;
    background: #b3b3b3;
    padding: 4px;
    color:#444;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

section#right ul.topic li:hover {
	background: #ddd;
}

#education{						/* -------------------------------------------Education*/
	display: inline-block;
	width:100%;
}
.eduIcon{
	height:3em;
}
.eduIcon:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    transform:scale(1.10);
  }
#education dt{
	width: 3em;
	text-align: center
}
#education dd{
	margin:.5em .3em;
	color:#7D7682;
	font-weight: bold;
	font-size: 1.2em;
}

#mision ul li{						/* -------------------------------------------Mision*/
	color:#6498B2;
	font-weight: bold;
	margin: .5em 0 .5em 0;
}
#mision ul{
	list-style-type: none;
	padding:0 0 0 1em ;
}

#experience a{					/* -------------------------------------------Experience*/
	color:#47B4E0;
}
#experience a:hover{
	background:#9A92A1;
	color:#000;
}
#experience a.btn{					
	text-decoration: none;
	color:white;
	background:#7D7682;
	padding:.5em;
	display: inline-block;
	border:1px solid #6A676B;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 1em;
}
#experience a.btn:hover{
	background:#9A92A1;
}
#experience h3{
	margin-bottom: 10px;
}
#experience ul{
	list-style-type: none;
	padding: 0 2em 0 0;
}
#experience ul li{
	margin:.3em 0;
	overflow: hidden;
}
#experience p{
	margin-top: 0;
	margin-bottom: 8px;
	color:#444;
}
#experience .funFact{
	color:#B24A41;
	margin-top: .8em;
	font-weight: bold;
}
#experience span{
	font-family:'Oxygen Mono', sans-serif; 
}

#personalInfo{					/* -------------------------------------------Personal Info*/
	display: inline-block;
	width:100%;
}
#personalInfo dl{
	margin-left: 2em;
}
#personalInfo dt{
	background: #6498B2;
	color:white;
	font-weight: bold;
	padding:.2em;
	text-align: right;
}

#personalInfo dd{
	margin: 0 0 .6em .5em;
	color:#7D7682;
	font-style: italic;
}

#skills{						/* -------------------------------------------Skills*/
	display: block;
}
#skills dl{
	margin-left: 2em;
}
.graph{							/* -------------------------------------------Skills graphs*/
	border:1px solid #666;
	height: .6em;
	width:8em;
	opacity: .7;
}
.graph:hover{
	border:1px solid #333;
	opacity:1;
}
.bar{
	height: .6em;
}
.ror{
	width:60%;
	background:#E08DD5;
}
.js{
	width:70%;
	background:#06BF00;
}
.c{
	width:80%;
	background:#006CBF;
}
.net{
	width:80%;
	background:#FF7E00;
}
.php{
	width:70%;
	background:#6B351E;
}
.java{
	width:60%;
	background:#FFF06F;
}
.fifa{
	width:100%;
	background:#DE2118;
}
.cod{
	width:100%;
	background:#DE2118;
}
.check{
	opacity:0.6;
}
.check:hover{
	opacity:1;
}
dl dt {
  color: #555;
}

#skills dl dd {
    margin: .3em 0 .5em .5em;
}
#skills dl dt {
    text-align: right;
	color:#7D7682;
	font-weight: bold;
}

dl dd{
  color: #666;
  float: left;
}    

dl dt{
  float: left;
  clear: left;
  width: 5em;
}​

#interests{						/* -------------------------------------------Interests*/
	display: block;
}

#hobbies{						/* -------------------------------------------Hobbies*/
	display: inline-block;
	width:100%;
}

#os{
	clear: both;
	display: block;
}
#os img{
	height:5em;
}
#os ul{
	padding-left: 0;
	list-style-type: none;
}
#os ul li{
	float: right;
	padding: 0;
	margin: 1em 1em 0 0;

}
.quote{
	color:#3C98BD;
}

#languages{						/* -------------------------------------------Languages*/
	display: inline-block;
	width:100%;
}
#languages dl{
	margin-left: 2em;
}
#languages dt{
	background: #6498B2;
	color:white;
	font-weight: bold;
	padding:.2em;
	width:4.4em;
	text-align: right;
}

#languages dd{
	margin: 0 0 .6em .5em;
	color:#7D7682;
	font-style: italic;
}

#quotes{					/* -------------------------------------------Quotes*/
	padding-top: 2em;
}
#quotes p.quote{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.5em;
	text-align: center;
}
										/**************--------------------------------Media Queries-----**********************************/
@media screen and (max-width:814px){
	#idCard{
		float:none;
		width: 100%;
	}
	#social{
		float:none;
		width: 100%;
	}
	#social ul#icons{
		clear:none;
		float:left;
	}
	#social ul#code{
		clear:none;
		float:left;
		margin-right: 0;
		margin-left: 2em;
	}
	#idPic{
    	margin-bottom: 0;
	}
}
@media screen and (max-width:624px){
	section#left{
		float:none;
		width:100%;
	}
	section#right{
		float:none;
		width:100%;
	}
	#interests{
		display: inline-block;
	}
}

@media screen and (max-width:505px){
	#social ul#code{
		margin-left: 0;
		text-align: center;
		width:100%;
	}
	#social ul#icons{
		float:none;
		display:block;
	}
	#idPic{
    	height:13.75em;
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	float:none;
	}
	body{
		text-align: center;
	}
	#main{
		width: 80%;
	}
	#education dt{
		float:none;
		clear:none;
		margin:0 auto;
	}
	#education dd{
		width:100%;
		margin:0 auto;
	}
	#os ul{
		display:inline-block;
	}
	#share{
		float:none;
		display: inline-block;
		text-align: center;
		margin:0 auto;
	}
	#quotes{	
		padding-top: 1em;
	}
}